<div class="container mt-4">
    <div class="row justify-content-md-center">
        <div class="col col-lg-8">
            <div class="alert alert-info">
                <h5><b>Overview</b></h5>
                <p>Sometimes, we may have an idea and don't know how to execute it.<br> Sometimes, one would have
                    mastered
                    the techniques to create something but they would have ran out of ideas <i
                        class="far fa-meh"></i>.<br>
                    This website is to bridge the gap between creators <i class="fas fa-wrench"></i> and thinkers <i
                        class="far fa-lightbulb"></i> ! <br>
                    Creators can find some interesting ideas here and can donate to the person who came up with that
                    impressive idea.<br>
                    It is completely fine if you want to remain anonymous <i class="far fa-smile-beam"></i>. Those who
                    use someone's idea please try to donate <i class="fas fa-gift"></i>.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-8">
            <div class="alert alert-success">
                <h5><b>Add A New Idea</b></h5>
                <p>
                    Please don't add dummy text <i class="far fa-frown"></i>.<br>
                    You don't need to enter your mail and upi Id if you are not interested. <br>
                    Stay Creative <i class="fas fa-glass-cheers"></i>.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-8">
            <div class="alert alert-warning">
                <h5><b>Delete Request</b></h5>
                <p>
                    Use this option if you have posted by mistake or you find someone's idea offensive.<br>
                    We will surely delete that idea if your reason is valid.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-8">
            <div class="alert alert-secondary">
                <h5><b>Contact Me</b></h5>
                <p>
                    <i class="fas fa-at"></i> r.antony67@gmail.com
                </p>
            </div>
        </div>
    </div>
</div>